<nav>
  <div class="left-links">
    <a routerLink="/CS3300/home" href="/CS3300/home" routerLinkActive="active">Home</a>
    <a routerLink="/CS3300/assignments" href="/CS3300/assignments" routerLinkActive="active">Tasks</a>
    <a routerLink="/CS3300/classes" href="/CS3300/classes" routerLinkActive="active">Classes</a>
    <a routerLink="/CS3300/calendar" href="/CS3300/calendar" routerLinkActive="active">Calendar</a>
    <a routerLink="/CS3300/about" href="/CS3300/about" routerLinkActive="active">About</a>
  </div>
  <div class="dropdown" [class.open]="dropdownOpen">
    <button class="dropdown-btn" (click)="toggleDropdown()">
      <fa-icon [icon]="faUserCircle"></fa-icon>
      <span>Account</span>
    </button>
    <div class="dropdown-content" *ngIf="dropdownOpen">
      <p *ngIf="userEmail">Logged in as: {{ userEmail }}</p>
      <a (click)="navigateToNotificationSettings()">Manage Notifications</a>
      <button (click)="logout()">Logout</button>
      <button (click)="deleteAccount()">Delete Account</button>
    </div>
  </div>
</nav>
